<div class="pane">

  <h1>{{ isNew(customer) ? 'Create' : 'Select' }} Customer</h1>

  <form action="">

    <div class="pane-row">
      <label class="font-size-ms">Org. name</label>
        
      <span class="fill-by-label">
        <input type="text" ng-class="{'padded-right': orgNameLoadingLocations}" ng-model="customer.orgName" placeholder="Org. name" uib-typeahead="cust as cust.orgName for cust in getCustomer($viewValue, 'orgName')"
          typeahead-loading="orgNameLoadingLocations" typeahead-on-select="onSelected($item, $model, $label)" class="pane-dropdown">
        <i ng-show="orgNameLoadingLocations" class="glyphicon glyphicon-refresh" title="Looking for customers matching the org. name"></i>
      </span>

    </div>

    <div class="pane-row">
      
      <label class="font-size-ms">Org. number</label>
      
      <span class="fill-by-label">
        <input type="text" ng-class="{'padded-right': orgNrLoadingLocations}" ng-model="customer.orgNr" placeholder="Org. number" uib-typeahead="cust as cust.orgNr for cust in getCustomer($viewValue, 'orgNr')"
          typeahead-loading="orgNrLoadingLocations" typeahead-on-select="onSelected($item, $model, $label)" class="pane-dropdown">
        <i ng-show="orgNrLoadingLocations" class="glyphicon glyphicon-refresh" title="Looking for customers matching the org. number"></i>
      </span>

    </div>

    <div class="pane-row">
      
      <label class="font-size-ms">Customer number</label>
      
      <span class="fill-by-label">
        <input type="text" ng-class="{'padded-right': customerNumberLoadingLocations}" ng-model="customer.customerNumber" placeholder="Customer number" uib-typeahead="cust as cust.customerNumber for cust in getCustomer($viewValue, 'customerNumber')"
          typeahead-loading="customerNumberLoadingLocations" typeahead-on-select="onSelected($item, $model, $label)" class="pane-dropdown">
        <i ng-show="customerNumberLoadingLocations" class="glyphicon glyphicon-refresh" title="Looking for customers matching the customer number"></i>
      </span>

    </div>
    
    <br>

    <div ng-show="isNew(customer)">
      
      <i class="glyphicon glyphicon-exclamation-sign"></i> A new customer tagged as created in Tickity will be added to the customer database.
      
    </div>

    <div class="float-container">

      <button ng-click="ok()" ng-disabled="!allowSubmit(customer)" class="pane-button green pull-right offset-right">{{ isNew(customer) ? 'Create' : 'Select' }}</button>

      <button ng-click="cancel()" class="pane-button red pull-right offset-right">Cancel</button>

    </div>

  </form>


</div>