<section class="card" ng-disabled="isReadonly">
  
  <header>
    <h2>
      <span ng-show="isReadonly">{{ ticket.customer.orgName || 'Ticket ID: ' + ticket.ticketId }}</span>
      <a ng-hide="isReadonly" href="" ui-sref="main.create_ticket({ticketId: ticket.ticketId})">
        {{ ticket.customer.orgName || 'Ticket ' + ticket.ticketId }}
      </a>
    </h2>
    <ce-status-select status="ticket.status" is-readonly="isReadonly"></ce-status-select>
  </header>
  
  <div class="card-categories">
    <span ng-repeat="category in plainCategory(ticket)">{{ category }}</span>
  </div>
  
  <br>
  
  <div class="card-contact">
    <div class="col-1-2 card-contact-area">
      <h3>Contact</h3>
      <div>{{ ticket.name || 'Name missing' }}</div>
      <div ng-show="ticket.email">{{ ticket.email }}</div>
      <div ng-show="ticket.tel">{{ ticket.tel }}</div>
    </div>
    <div class="col-1-2 card-summary" ng-show="ticket.summary">
      <p ng-repeat="line in ticket.summary | split:'\n' track by $index">{{ line }}</p>
    </div>
  </div>
  
  <br>
  
  <div class="card-footer">
    <div class="id">
      {{ 'Ticket ' + ticket.ticketId }}
    </div>
    <div class="date">
      {{ ticket.ticketDate | date: 'yyyy-MM-dd, HH:mm' }}
    </div>
  </div>
  
</section>