<section class="card" ng-disabled="isReadonly">
  
  <header>
    <h2>
      <a ng-hide="isReadonly" href="" ui-sref="main.create_ticket({ticketId: ticket.ticketId})">
        {{ ticket.customer.orgName || 'Ticket ' + ticket.ticketId }}
      </a>
      <span ng-show="isReadonly">{{ ticket.customer.orgName || 'Ticket ID: ' + ticket.ticketId }}</span>
    </h2>
    <ce-status-select status="ticket.status"></ce-status-select>
  </header>
  
  <div class="card-middle-section">
    
    <div class="col-1-2 card-col-left">
      <h3>Catetogories</h3>
      <div class="card-col-content">
        <div ng-repeat="category in plainCategory(ticket)">{{ category }}</div>
        <div class="grayout" ng-show="!plainCategory(ticket).length">No category chosen</div>
      </div>
      
    </div>
    <div class="col-1-2 card-col-right">
      <h3>Product</h3>
      <div class="card-col-content">
        <div ng-show="ticket.product.productName">{{ ticket.product.productName }}</div>
        <div class="grayout" ng-show="!ticket.product.productName">No chosen product</div>
      </div>
    </div>
    
  </div>
  
  <br>
  
  <div class="card-contact">
    <div class="col-1-2 card-col-left">
      <h3>Contact</h3>
      <div class="card-col-content">
        <div ng-show="ticket.person.name">{{ ticket.person.name }}</div>
        <div class="grayout" ng-show="!ticket.person.name">Name missing</div>
        <div ng-show="ticket.person.email">{{ ticket.person.email }}</div>
        <div ng-show="ticket.person.tel">{{ ticket.person.tel | phoneNumber:ticket.country.short }}</div>
        <div ng-show="ticket.person.altTel">{{ ticket.person.altTel | phoneNumber:ticket.country.short }}</div>
        <div ng-show="ticket.isReseller"><i class="glyphicon glyphicon-ok"></i> Reseller</div>
        <div ng-show="ticket.transferred"><i class="glyphicon glyphicon-arrow-right"></i>
          <span ng-show="ticket.transferredDepartment.departmentName"> Transferred ({{ ticket.transferredDepartment.departmentName }})</span>
          <span ng-show="!ticket.transferredDepartment.departmentName"> Transferred</span>
        </div>
      </div>
    </div>
    <div class="col-1-2 card-col-right">
      <h3>Summary</h3>
      <div class="card-col-content">
        <p ng-show="ticket.summary" ng-repeat="line in ticket.summary | split:'\n' track by $index">{{ line }}</p>
        <p class="grayout" ng-show="!ticket.summary">No summary</p>
      </div>
    </div>
  </div>
  
  <br>
  
  <div class="card-footer">
    
    <div class="pull-left">
      <div>
        <i class="glyphicon glyphicon-user"></i>
        {{ ' ' + ticket.user.name }}
      </div>
        
      <div class="id">
        {{ 'Ticket ' + ticket.ticketId }}
      </div>
    </div>
    <div class="pull-right">
      <div class="right">
        <!--<i class="glyphicon glyphicon-time" ng-show="ticket.status === 'Closed'"></i>-->
        <!--&nbsp;{{ ticket.status === 'Closed' ? ([ticket.ticketDate, ticket.ticketDateClosed] | timerDiff) : '' }}-->
        &nbsp;
      </div>
      <div class="date">
        {{ ticket.ticketDate | date: 'yyyy-MM-dd, HH:mm' }}
      </div>
    </div>
  </div>
  
</section>