<section class="grid">

  <a href="" ui-sref="main.dashboard">
    <img src="assets/img/logo.png" class="logo" alt="Bambora logo">
    <!-- Add back button here!! -->
    <span class="go-back">
      <i class="glyphicon glyphicon-arrow-left"></i> Go back
    </span>
  </a>

  <aside class="pane vertical-fill fixed-left">

    <h1>Admin page</h1>

    <nav class="admin-menu">
      <ul>
        <li>
          <a href="" ui-sref="main.admin.call_back" ui-sref-active="active">Manage call backs</a>
          <a href="" ui-sref="main.admin.call_back({isClosed: false})" ui-sref-active="active" ng-show="state === 'main.admin.call_back'">Tickets for call backs</a>
          <a href="" ui-sref="main.admin.call_back({isClosed: true})" ui-sref-active="active"  ng-show="state === 'main.admin.call_back'">Call back completed</a>
          <div ng-show="state === 'main.admin.call_back'">

            <div class="pane-row">
              <!-- User -->

              <label for="">User</label>

              <span class="fill-by-label">
                <input type="text"
                  ng-model="filterOptions.user"
                  placeholder="Search for user to filter by"
                  uib-typeahead="user as formatUser(user) for user in getUsers($viewValue, filterOptions.user)"
                  typeahead-loading="loadingUsers"
                  typeahead-no-results="noResults"
                  class="pane-dropdown"
                  typeahead-on-select="setUser($item)">
                <i ng-show="loadingUsers" class="glyphicon glyphicon-refresh" title="Looking for matching users"></i>
                <i ng-show="noResults && filterOptions.user" class="glyphicon glyphicon-exclamation-sign" title="No results found"></i>
              </span>

              <br>

            </div>

            <div class="pane-button no-select" ng-click="updateFilters(filterOptions)">Filter tickets</div>
          </div>
        </li>
        <li>
          <a href="" ui-sref="main.admin.nps_upload" ui-sref-active="active">Upload NPS files</a>
        </li>
      </ul>
    </nav>

  </aside>

  <div ui-view></div>

</section>