**/bower_components
**/node_modules
**/typings
userConfig.js
**/assets/customers/
**/assets/nps/
**/assets/uploads/
**/public/css/**/*.css
**/iisnode
**/*.map
**/dist
**/public/index.html
**/nps_base/