.card {
  position: relative;
  display: block;
  background-color: $gray;
  padding: $size-s;
  text-decoration: none;
  color: $black;
  
  height: 400px;
  margin-bottom: 20px;
  
  *, *:hover, *:active, *:focus {
    color: $black;
  }
  
  &:hover {
    transform: scale(1.05);
    background-color: rgba($color: $gray, $alpha: 0.2);
    z-index: 1;
    box-shadow: 0 0 15px rgba($color: rgba($color: $black, $alpha: 0.1), $alpha: 0.1);
    color: $black;
  }
  
  header {
    display: block;
    position: relative;
    white-space: wrap;
    h2 {
      margin-top: $size-s;
      display: inline-block;
      max-width: calc(100% - 120px);
      font-size: $font-size-l;
      font-weight: bolder;
      text-transform: uppercase;
    }
    ce-status-select {
      float: right;
      margin-top: $size-s;
    }
  }
}

.card-categories {
  display: table;
  border-collapse: collapse;
  max-width: 100%;
  span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 2px solid $white;
    padding: $size-xs / 2;
    margin: ($size-xs / 2) 0;
  }
}

.card-contact {
  h3 {
    text-transform: uppercase;
    font-size: $font-size-ml;
  }
  div {
    font-size: $font-size-m;  
  }
}

.card-footer {
  position: absolute;
  bottom: $size-s;
  right: $size-s;
  text-align: right;
}