.card-area {
  margin-left: 10px;
  margin-right: -20px;
}

.card {
  position: relative;
  display: block;
  background-color: $gray;
  padding: $size-s;
  text-decoration: none;
  color: $black;
  
  height: 400px;
  margin-bottom: 20px;
  
  *, *:hover, *:active, *:focus {
    color: $black;
  }
  
  &:not([disabled=disabled]) {
    &:hover {
      transform: scale(1.05);
      // background-color: rgba($color: $gray, $alpha: 0.2);
      z-index: 1;
      box-shadow: 0 0 15px rgba($color: rgba($color: $black, $alpha: 0.1), $alpha: 0.1);
      color: $black;
    }
  }
  
  
  header {
    display: block;
    position: relative;
    white-space: wrap;
    h2 {
      margin-top: $size-s;
      display: inline-block;
      max-width: calc(100% - 120px);
      font-size: $font-size-l;
      font-weight: bolder;
      text-transform: uppercase;
    }
    ce-status-select {
      float: right;
      margin-top: $size-s;
    }
  }
}

.card-summary {
  overflow: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: calc(50% + 10px);
  height: 100%;
  padding: 5px;
  border-left: 1px solid $purple;
}

.card-contact-area {
  overflow: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: calc(50% - 10px);
  height: 100%;
  padding: 5px;
}

.card-categories {
  display: table;
  border-collapse: collapse;
  background: $purple-light;
  max-width: calc(100% - 20px);
  position: absolute;
  top: calc(50% - 60px);
  span {
    @include all-states {
      color: $white;
    }
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 2px solid $white;
    padding: $size-xs / 2;
    margin: ($size-xs / 2) 0;
  }
}

.card-contact {
  position: absolute;
  top: 50%;
  left: 10px;
  right: 0px;
  bottom: 40px;
  h3 {
    text-transform: uppercase;
    font-size: $font-size-ml;
  }
  div {
    font-size: $font-size-m;  
  }
}

.card-footer {
  position: absolute;
  bottom: $size-s;
  display: block;
  right: 15px;
  left: 15px;
  .date {
    float: right;
    text-align: right;
  }
  .id {
    float: left;
    text-align: left;
  }
}