.card-area {
  margin-left: 10px;
  margin-right: -20px;
  @include breakpoint(break-m) {
    margin: 0;
  }
}

.card {
  position: relative;
  display: block;
  background-color: $gray;
  padding: $size-s;
  text-decoration: none;
  color: $black;
  
  height: 450px;
  margin-bottom: 20px;
  
  *, *:hover, *:active, *:focus {
    color: $black;
  }
  
  &:not([disabled=disabled]) {
    &:hover {
      transform: scale(1.05);
      z-index: 1;
      box-shadow: 0 0 15px rgba($color: rgba($color: $black, $alpha: 0.1), $alpha: 0.1);
      color: $black;
    }
  }
  
  .col-1-2:nth-of-type(2n) {
    border-left: 1px solid $purple-light;
  }
  
  
  header {
    display: block;
    position: relative;
    white-space: wrap;
    h2 {
      margin-top: $size-s;
      display: inline-block;
      max-width: calc(100% - 120px);
      font-size: $font-size-l;
      font-weight: bolder;
      text-transform: uppercase;
      a {
        line-height: $font-size-l;
      }
    }
    ce-status-select {
      float: right;
      margin-top: $size-s;
    }
  }
}

.card-col-right {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: calc(50% + 10px);
  height: 100%;
  padding: 5px;
}

.card-col-left {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: calc(50% - 10px);
  height: 100%;
  padding: 5px;
}

.card-row {
  position: absolute;
  left: 10px;
  right: 0px;
  max-width: calc(100% - 20px);
  h3 {
    text-transform: uppercase;
    font-size: $font-size-ml;
  }
  div {
    font-size: $font-size-m;
    line-height: 1.2;
    padding-right: 0;
  }
  div:not(:last-of-type) {
    padding-bottom: 5px;
  }
  p {
    line-height: 1.2;
    overflow: hidden;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding-right: 0;
  }
}

.card-middle-section {
  @extend .card-row;
  top: calc(50% - 120px);
  bottom: 50%;
}

.card-contact {
  @extend .card-row;
  top: calc(50% + 10px);
  bottom: 60px;
}

.card-col-content {
  overflow: auto;
  width: 100%;
  height: calc(100% - 27px);
}

.card-footer {
  position: absolute;
  bottom: $size-s;
  display: block;
  right: 15px;
  left: 15px;
  .date {
    float: right;
    text-align: right;
  }
  .id {
    float: left;
    text-align: left;
  }
}

.card-area-header {
  h1 {
    display: inline-block;
    width: 160px;
    position: relative;
    top: 5px;
  }
  
  input {
    @include input-placeholder {
      color: $black-ish !important;
    }
    display: inline-block;
    width: calc(100% - 185px);
    margin-left: 10px;
    
    @include breakpoint(break-l) {
      width: 100%;
    }
  }
  
}