.vertical-fill {
  padding-left: 20px;
  padding: 20px;
}

.logo {
  height: 116px;
}

.fixed-left {
  height: calc(100vh - 136px);
  // margin-top: 20px;
  margin-left: 20px;
  position: fixed;
  left: 0;
  overflow-y: auto;
  width: 450px;
  &.create {
    width: 500px;
  }
  &.customer-create {
    width: 680px;
    max-width: 60%;
  }
  @include breakpoint(break-m) {
    overflow-y: visible;
  }
}

.fixed-right {
  top: 0;
  padding-top: 105px;
  height: 100vh;
  position: fixed;
  right: 20px;
  overflow-y: auto;
  width: calc(100% - 470px);
  padding-left: 90px;
  &.create {
    width: calc(100% - 520px);
  }
}
 
@include breakpoint(break-m) {
  .fixed-left, .fixed-right {
    &, &.create, &.customer-create {
      position: static;
      height: auto;
      width: 100%;
      padding: 20px;
      margin: 0;
    }
  }
}