.pane {
  background-color: $purple-dark;
  color: $white;
  padding: $size-xl / 2;
  
  @include text-inputs {
    width: calc(100% - 155px);
    max-width: 100%;
  }
  
  &.gray {
    background-color: $gray-dark;
    input, .pane-button {
      // box-shadow: none;
      outline: none;
    }
  }
  clear: both;
  
  label:not(.checkbox-label) {
    font-size: $font-size-m;
    text-transform: uppercase;
    font-weight: bolder;
    width: 150px;
    text-align: left;
    padding-right: 15px;
    vertical-align: middle;
  }
  .checkbox-label {
    font-size: $font-size-m;
    font-weight: lighter;
    padding-top: 10px;
    margin-left: 45px;
  }
  span {
    display: inline-block;
    // padding: $size-s + 3px;
    font-size: $font-size-m;
  }
}

.right-block {
  font-size: $font-size-ml;
  display: inline-block;
  width: 150px;
  text-align: left;
  padding-right: 15px;
  vertical-align: top;
  margin-top: 12px;
}
.pane-section {
  padding: $size-m 0;
}

.pane-divider {
  margin: 0;
  @include border-shadow;
  background-color: rgba($color: $black, $alpha: 0.4);
  padding: 1px 0;
  outline-width: 0;
}

.pane-dropdown, .dropdown-menu {
  padding: 0;
  border-radius: 0;
  background-color: $purple-light;
  & > li {
    
    &.divider {
      @extend .pane-divider;
    }
    
    & > a {
      background-color: inherit;
      color: $white;
      display: block;
      padding: $size-xs;
      text-align: center;
      width: 100%;
      border: 2px solid $white;
      border-collapse: collapse;
      outline: none;
      
      &:hover {
        color: $white;
        background-color: $purple !important;
        outline: none;
      }
      &:active, &:focus {
        color: $white;
        background-color: $purple-dark !important;
        outline: none;
      }
    }
  }
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  // super ugly, but overrides the default color.
  color: $white;
  background-color: $purple-dark;
  outline: none;
}

.pane-button {
  @include border-shadow;
  display: block;
  position: relative;
  background-color: $purple;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  font-weight: bold;
  padding: $size-xs;
  min-width: 80px;
  &:hover, &:active, &:focus {
    color: $white;
    font-weight: bolder;
    text-decoration: none;
  }
  
  @include all-states {
    &[disabled="disabled"] {
      color: $black-ish;
      background-color: $gray;
      box-shadow: none;
    }
  }
  
  &.is-loading {
    box-shadow: inset 0px 0px 1px 5000px rgba($color: $white, $alpha: 0.5);
    color: $gray-light;
  }
}

.pane-button-big {
  @extend .pane-button;
  padding: $size-m;
  font-size: $font-size-xl;
}

.pane-table {
  width: 100%;
  font-size: $font-size-m;
  text-transform: uppercase;
  tbody {
    tr {
      td {
        border-collapse: collapse;
        padding: $size-xs;
        
        &.left {
          text-align: left;
        }
        &.right {
          text-align: right;
        }
        &.center {
          text-align: center;
        }
      }
    }
    tr:not(:last-child) {
      cursor: pointer;
      &:hover {
        background-color: $purple;
      }
      &:active, &:focus {
        background-color: $purple-light;
      }
      td {
        cursor: pointer;
        border: 2px solid $white;
      }
    }
  }
}

  
&.fill-by-label {
    .intl-tel-input {
      width: 100%;
    }
  }
// -- Intl-tel-input --
.pane {
  .intl-tel-input {
    input.block {
      width: 100%;
    }
    .flag-dropdown {
      &, .selected-flag {
        @include all-states {
          outline: none;
          color: $white;
        }
        @include hover-shadow;
        top: 1px;
        bottom: 1px;
        left: 1px;
      }
      .arrow {
        border-top-color: $white;
      }
      .country-list {
        @include thick-border;
        li {
          background-color: $purple;
          @include border-shadow;
          .dial-code {
            float: right;
            color: $white;
          }
          &.divider {
            @extend .pane-divider;
          }
        }
      }
    }
  }
}

.pane-top-text {
  font-size: $font-size-m;
}

.modal-dialog {
  border-radius: 0 !important;
  @include thick-border;
}

.pane-top {
  width: 100%;
  position: relative;
  padding-top: 0;
  .pane-top-content {
    width: calc(100% - 90px);
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.pane-row {
  label:not(.checkbox-label) {
    display: block;
    width: 100% !important;
    margin: 0;
    padding: 0;
    padding-top: 10px;
  }
  .fill-by-label {
    display: block;
    width: 100%;
    padding: 0;
    padding-top: 0;
    @include text-inputs {
      margin: 0;
      margin-top: 8px;
    }
  }
  .animated-textarea {
    resize: none !important;
  }
}

.padding-fix-by-checkbox {
  vertical-align: middle;
  padding-top: 7px;
}

