.base-status-select {
  color: $white;
  padding: $size-xs;
  outline: none;
  border: thin none;
  text-align: center;
  @include border-shadow;
  min-width: 100px;
}
.status-select {
  @extend .base-status-select;
  display: inline-block;
  &:hover, &:active, &:focus {
    color: $white;
  }
  
  &:hover:not(span) {
    box-shadow: inset 0px 0px 1px 5000px rgba($color: #000000, $alpha: 0.1cm);
  }
  &:active:not(span), &:focus:not(span) {
    box-shadow: inset 0px 0px 1px 5000px rgba($color: #000000, $alpha: 0.2cm);
  }
}

.status-dropdown {
  min-width: 100px;
  left: -1px;
  & > li {
    & > a {
      @extend .base-status-select;
      &:hover {
        color: $white;
        // outline: none;
        background-color: inherit;
        box-shadow: inset 0px 0px 1px 5000px rgba($color: #000000, $alpha: 0.1cm);
      }
      &:active, &:focus {
        color: $white;
        // outline: none;
        background-color: inherit;
        box-shadow: inset 0px 0px 1px 5000px rgba($color: #000000, $alpha: 0.2cm);
      }
    }
  }
}