// OLD VARIABLES:
$color-body: rgb(54, 54, 54);
$color-black: rgba(1, 0, 26, 0.8);
$color-black-hover: rgba(1,0,26,.5); 
$color-background: rgb(255, 255, 255);
$color-footer: rgb(31, 37, 50);
$color-higlight-pink: rgba(247, 151, 223, 0.831373);
$color-higlight-blue: #4575de;
$color-higlight-blue-light: #8fbcf0;
$color-higlight-blue-dark: #1f2532;
$color-border: #bbb;




// NEW VARIABLES

// -- COLORS --

// Panes
$purple-dark: #6d4499;
$purple: #9671be;

$gray-very-dark: #a8a8a8;
$gray-dark: #e5e4e4;
$gray: #ededed;
$gray-light: #f4f4f4;
$white: #ffffff;

// Categories
$purple-light: #b189db;
$green: #afda97;
$beige: #d9c7c3;
$red: #dd9a8a;
$black: #130f14;
$black-ish: #a8a8a8;
$black-ish-dark: #5a5a5a;

// -- SIZES --

$size-xl: 60px;
$size-m: 20px;
$size-s: 10px;
$size-xs: 8px;

// -- FONT SIZES --
$font-size-xl: 30px;
$font-size-l: 26px;
$font-size-ml: 20px;
$font-size-m: 15px;
$font-size-ms: 18px;
