@import 'fonts';
@import 'variables';
@import 'mixins/mixins';
@import 'containers';
@import 'grid';
@import 'card';
@import 'pane';
@import 'status_select';
@import 'date_picker';
@import 'welcome';
@import 'loading';

@import '../app/app';

*, *:after, *:before {
  box-sizing: border-box;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; 
  font-family: BebasNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.country-list {
  /* Bootstrap input will cover this otherwise */
  z-index: 9 !important; /* I hate !important but it's needed' */
}
.intl-tel-input {
  width: 100%;
}


.block {
  display: block;
}

.fill {
  width: 100% !important; // sorry
}

.fill-label {
  width: 150px;
}

.fill-by-label {
  width: calc(100% - 155px);
  position: relative;
  .dropdown {
    width: 100%;
    .pane-button {
      width: 100%;
      margin-top: 8px;
    }
  }
  @include text-inputs {
    width: 100%;
  }
  .glyphicon {
    position: absolute;
    top: 15px;
    right: 10px;
  }
  .padded-right {
    padding-right: 30px;
  }
}

.go-back {
  position: absolute;
  top: 60px;
  left: 20px;
  font-size: 25px;
  text-decoration: none;
  color: $purple-dark;
  padding-right: 130px;
  padding-top: 15px;
  font-family: BebasNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  &:hover {
    color: $purple;
  }
}

@include text-inputs {
  @include border-shadow;
  @include input-placeholder {
    color: $gray-very-dark;
  }
  background-color: transparent;
  padding: $size-s;
  font-size: $font-size-m;
  margin: $size-xs 0;
  &.ng-invalid {
    border-color: $red;
    border-width: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 1px 1px 10px rgba($color: $red, $alpha: 0.1);
    // z-index: 1;
  }
}

input[type="checkbox"] {
    display:none;
}
.radio label, .checkbox label {
  padding-left: 0;
}

label {
  input[type="checkbox"] ~ i {
    @include border-shadow;
    display: inline-block;
    background-color: transparent;
    top: -1px;
    position: relative;
    padding: 4px;
    margin-right: 13px;
  }
  input[type="checkbox"]:checked ~ i::after {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: 1px;
    width: 9px;
    height: 16px;
    border: solid $black;
    
    border-width: 0 5px 5px 0;
    box-shadow: 2px 2px 1px rgba($color: $white, $alpha: 0.1);
    transform: rotate(45deg);
  }
}

.animated-textarea {
  -webkit-transition: height 50ms ease-in-out;
         -moz-transition: height 50ms ease-in-out;
           -o-transition: height 50ms ease-in-out;
              transition: height 50ms ease-in-out;
}

.textarea-fill {
  resize: none;
  width: 100% !important;
}

.thick {
  font-size: $font-size-xl;
  font-weight: bold;
  text-transform: uppercase;
}

.font-size-ms {
  font-size: $font-size-ms !important;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.top-label {
  vertical-align: top !important;
  padding-top: 12px;
}

.offset-left {
  // Used for checkboxes in creat select
  margin-left: -30px;
}

.offset-right {
  margin-left: 10px;
  margin-top: 10px;
}

.offset-top {
  margin-top: 8px;
  display: block;
}

.offset-bottom {
  margin-bottom: 8px;
  display: block;
}

.float-container {
  overflow: auto;
}

.relative {
  position: relative;
  width: 100%;
  height: 200px;
}

.right {
  text-align: right !important;
}

.left {
  text-align: left !important;
}

.width-auto {
  width: auto !important;
}

.red {
  background-color: $red;
}
.purple {
  background-color: $purple;
}
.purple-dark {
  background-color: $purple-dark;
}
.beige {
  background-color: $beige;
}
.green {
  background-color: $green;
}

.black-ish {
  background-color: $black-ish;
}

.grayout {
  @include all-states {
    color: $black-ish;
  }
}

.spin {
  @include spinner;
}

.glyphicon-refresh {
  @extend .spin;
}

.clickable {
  cursor: pointer;
}