<section class="pane-section">
  
  <div class="float-container">
    <button ng-click="auth.logout()" class="pane-button red pull-right">Log out</button>
  </div>
  
  <br>
  
  <div class="pane-row">
    <label>Name</label>
    <input type="text" ng-model="auth.getCurrentUser().name" placeholder="Name">
  </div>
  <div class="pane-row">
    <label>Email</label>
    <input type="email" ng-model="auth.getCurrentUser().email" placeholder="Email">
  </div>
  <div class="pane-row">
    <label>Operator</label>
    <label class="left">{{ auth.getCurrentUser().userId }}</label>
  </div>
</section>
<section class="pane-section">
  
  <a class="pane-button-big" href="" ui-sref="main.create_ticket">Create new ticket</a>
  
  
</section>
<section class="pane-section">
  
  <table class="pane-table">
    <tbody>
      <tr>
        <td class="left" ng-class="{'green': filter == 'Open' }" ng-click="setFilter('Open')">Open</td>
        <td class="center green">{{ aggregated.open || 0 }}</td>
      </tr>
      <tr>
        <td class="left" ng-class="{'red': filter == 'Closed' }" ng-click="setFilter('Closed')">Closed</td>
        <td class="center red">{{ aggregated.closed || 0 }}</td>
      </tr>
      <tr>
        <td class="left" ng-class="{'beige': filter == 'Pending' }" ng-click="setFilter('Pending')">Pending</td>
        <td class="center beige">{{ aggregated.pending || 0 }}</td>
      </tr>
      <tr>
        <td class="left">Total</td>
        <td class="center">{{ aggregated.total || 0 }}</td>
      </tr>
    </tbody>
    
    
  </table>
  
</section>