<section class="pane-section pane-top">
  
  <div class="pane-top-content">
    
    <div class="pane-top-text">Logged in as {{ auth.getCurrentUser().name || 'Agent ' +  auth.getCurrentUser().userId }}</div>
      
    <div class="pane-top-text">
      <div>Department: {{ auth.getCurrentUser().department.departmentName || 'Not assigned' }}</div>
    </div>
    
    <div class="pane-top-text">
      <div for="" class="">Last logged ticket: {{ lastTicket.dateUpdated | date: 'yyyy-MM-dd, HH:mm' }}</div>
    </div>
    
  </div>
  
  <button ng-click="auth.logout()" class="pane-button red pull-right">Log out</button>
    
</section>
<section class="pane-section">
  
  <a class="pane-button-big" href="" ui-sref="main.create_ticket">Create new ticket</a>
  
</section>
<section class="pane-section">
  
  <table class="pane-table">
    <tbody>
      <tr>
        <td class="left" ng-class="{'green': filter == 'Open' }" ng-click="setFilter('Open')">Open</td>
        <td class="center green">{{ aggregated.open || 0 }}</td>
      </tr>
      <tr>
        <td class="left" ng-class="{'red': filter == 'Closed' }" ng-click="setFilter('Closed')">Closed</td>
        <td class="center red">{{ aggregated.closed || 0 }}</td>
      </tr>
      <tr>
        <td class="left" ng-class="{'beige': filter == 'Pending' }" ng-click="setFilter('Pending')">Pending</td>
        <td class="center beige">{{ aggregated.pending || 0 }}</td>
      </tr>
      <tr>
        <td class="left">Total</td>
        <td class="center">{{ aggregated.total || 0 }}</td>
      </tr>
    </tbody>
    
  </table>
  
  <br>
  
  <div class="float-container">
    
    <button ng-click="openModal(auth.getCurrentUser())" class="pane-button purple pull-right">Settings</button>
    
  </div>
  
</section>

<ce-modal-user open-modal="openModal"></ce-modal-user>
