<section class="pane-section pane-top">
  
  <div class="pane-top-content">
    
    <div class="pane-top-text">Logged in as {{ auth.getCurrentUser().name || 'Agent ' +  auth.getCurrentUser().userId }}</div>
      
    <div class="pane-top-text">
      <div>Department: {{ auth.getCurrentUser().department.departmentName || 'Not assigned' }}</div>
    </div>
    
    <div class="pane-top-text">
      <div for="" class="">Last logged in: {{ (auth.getCurrentUser().lastLoggedIn | date: 'yyyy-MM-dd, HH:mm') || 'No login date' }}</div>
    </div>
    
  </div>
  
  <button ng-click="auth.logout()" class="pane-button red pull-right">Log out</button>
    
</section>
<section class="pane-section">
  
  <a class="pane-button-big" href="" ui-sref="main.create_ticket">Create new ticket</a>
  
</section>
<section class="pane-section">
  
  <h2>My overview</h2>
  
  <param>
    To show tickets of only of a specific status, click the corresponding row below. To show all again, give it another click.
  </p>
  
  <div class="relative">
    <ce-loading is-loading="isLoading"></ce-loading>
    
    <table class="pane-table" ng-hide="isLoading">
      <tbody>
        <tr ng-click="setFilter('Open')">
          <td class="left" ng-class="{'purple': filter == 'Open' }">Open</td>
          <td class="center purple">{{ aggregated.open || 0 }}</td>
        </tr>
        <tr ng-click="setFilter('Closed')">
          <td class="left" ng-class="{'green': filter == 'Closed' }">Closed, not transferred</td>
          <td class="center green">{{ aggregated.closed || 0 }}</td>
        </tr>
        <tr ng-click="setFilter('ClosedTransferred')">
          <td class="left" ng-class="{'black-ish': filter == 'ClosedTransferred' }">Closed, transferred</td>
          <td class="center black-ish">{{ aggregated.closedTransferred || 0 }}</td>
        </tr>
        <tr ng-click="setFilter('Pending')">
          <td class="left" ng-class="{'beige': filter == 'Pending' }">Pending</td>
          <td class="center beige">{{ aggregated.pending || 0 }}</td>
        </tr>
        <tr>
          <td class="left">Total</td>
          <td class="center">{{ aggregated.total || 0 }}</td>
        </tr>
      </tbody>
      
    </table>
  </div>
  
  <br>
  
  <div class="float-container">
    
    <button ng-click="openModal(auth.getCurrentUser())" class="pane-button purple pull-right">Settings</button>
    
  </div>
  
</section>

<section class="pane-section">
  
  <a class="pane-button" href="" ui-sref="main.customer">Manage customers</a>
  
</section>

<ce-modal-user open-modal="openModal"></ce-modal-user>
