<section class="pane-content">
  
  <!--<h1 class="welcome-login-text">Log in</h1>-->
  
  <form name="loginForm" class="fill welcome-form" ng-submit="login(loginForm, tempUser)">
    
    <label class="left">Email</label>
    <input class="pane-input" type="email" name="email" placeholder="Email" ng-model="tempUser.email">
    
    <label class="left">Password</label>
    <input class="pane-input" type="password" name="password" placeholder="Password" ng-model="tempUser.password">
    
    <!--<span>Sign up</span>-->
    
    <button type="submit" class="pane-button pull-right" ng-disabled="!formValid(loginForm, tempUser)">Log in</button>
    
  </form>
  
</section>