<div class="pane">

  <h1>Manage call back</h1>

  <form novalidate>

    <div class="pane-row">
      <label>Ticket number</label>
      <span class="fill-by-label">{{ ticket.ticketId || 'Data missing' }}</span>
    </div>

    <div class="pane-row" ng-show="ticket.customer.orgName">
      <label>Customer name</label>
      <span class="fill-by-label">{{ ticket.customer.orgName }}</span>
    </div>

    <div class="pane-row" ng-show="ticket.customer.orgNr">
      <label>Org. Number</label>
      <span class="fill-by-label">{{ ticket.customer.orgNr }}</span>
    </div>

    <div class="pane-row">
      <label>Mobile number</label>
      <span class="fill-by-label">{{ (ticket.person.tel || ticket.nps.npsTel) | phoneNumber:ticket.country.short }}</span>
    </div>

    <div class="pane-row">
      <label>Call category 1</label>
      <span class="fill-by-label">{{ ticket.category.categoryName || 'Category missing' }}</span>
    </div>

    <div class="pane-row" ng-show="ticket.subcategory.subcategoryName">
      <label>Call category 2</label>
      <span class="fill-by-label">{{ ticket.subcategory.subcategoryName }}</span>
    </div>

    <div class="pane-row" ng-show="!!ticket.descriptor.descriptorName">
      <label>Call category 3</label>
      <span class="fill-by-label">{{ ticket.descriptor.descriptorName }}</span>
    </div>

    <div class="pane-row" ng-show="ticket.summary">
      <label class="text-top">Initial summary</label>
      <span class="fill-by-label"><div ng-repeat="line in splitComments(ticket.summary) track by $index">{{ line }}</div></span>
    </div>

    <div class="pane-row">
      <label>Date for SMS send out</label>
      <span class="fill-by-label">{{ ticket.nps.npsDate | date:'yyyy-MM-dd' }}</span>
    </div>

    <div class="pane-row">
      <label>NPS score</label>
      <span class="fill-by-label">{{ isFinite(ticket.nps.npsScore) ? 'No score' : ticket.nps.npsScore }}</span>
    </div>

    <div class="pane-row">
      <label>Post call NPS score</label>
      <span class="fill-by-label">
        <input type="number"
          ng-model="ticket.callBack.postCallBackNpscScore"
          title="Post call back NPS score"
          placeholder="Post call back NPS score">
      </span>
    </div>

    <div class="pane-row" ng-show="!!ticket.nps.npsComment">
      <label class="text-top">NPS comment</label>
      <span class="fill-by-label"><div ng-repeat="line in splitComments(ticket.nps.npsComment) track by $index">{{ line }}</div></span>
    </div>

    <div class="pane-row" ng-show="!!ticket.nps.npsFollowUp">
      <label class="text-top">NPS follow up</label>
      <span class="fill-by-label"><div ng-repeat="line in splitComments(ticket.nps.npsFollowUp) track by $index">{{ line }}</div></span>
    </div>

    <div class="pane-row" ng-show="ticket.user.name">
      <label>Agent on ticket</label>
      <span class="fill-by-label">{{ ticket.user.name }}</span>
    </div>

    <div class="pane-row">
      <label>Assigned agent for call back</label>

      <span class="fill-by-label">
        <span class="fill-by-label">
        <input type="text"
          ng-model="ticket.callBack.agentName"
          uib-typeahead="user as (user.name || user.email) for user in users | filter:$viewValue | limitTo:12"
          typeahead-on-select="setUser($item)"
          title="Search the various agents."
          ng-change="handleAgent(ticket.callBack.agentName, ticket.callBack.user)"
          placeholder="Search for agents">
      </span>

        <span uib-dropdown uib-keyboard-nav>
          <button id="simple-btn-keyboard-nav" type="button" class="pane-button" uib-dropdown-toggle>
            <i ng-show="ticket.callBack.user.userId" class="glyphicon glyphicon-user"></i> {{ ticket.callBack.agentName || ticket.callBack.user.name || ticket.callBack.user.email || 'Assign agent' }} <span class="caret"></span>
          </button>
          <ul class="uib-dropdown-menu pane-dropdown" role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <!-- Links need an href for Boostrap UI to work with keyboard navigation -->
            <li role="menuitem"><a href="" ng-click="ticket.callBack.user = undefind; ticket.callBack.agentName = ''">None</a></li>
            <li class="divider"></li>
            <li role="menuitem" ng-repeat="user in users">
              <a href="" ng-click="setUser(user)">{{ user.name || user.userId }}</a>
            </li>
          </ul>
        </span>
      </span>

    </div>

    <div class="pane-row">
      <label>Status</label>

      <span class="fill-by-label">
        <span uib-dropdown uib-keyboard-nav>
          <button id="simple-btn-keyboard-nav" type="button" class="pane-button" uib-dropdown-toggle>
            {{ ticket.callBack.callBackStatus || 'Not called' }} <span class="caret"></span>
          </button>
          <ul class="uib-dropdown-menu pane-dropdown" role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <!-- Links need an href for Boostrap UI to work with keyboard navigation -->
            <li role="menuitem" ng-repeat="status in statuses track by $index">
              <a href="" ng-click="setCallBackStatus(status)">{{ status.callBackStatusName }}</a>
            </li>
          </ul>
        </span>
      </span>

    </div>

    <div class="pane-row">
      <label>Reason to promote 1</label>

      <span class="fill-by-label">

        <span uib-dropdown uib-keyboard-nav>
          <button id="simple-btn-keyboard-nav" type="button" class="pane-button" uib-dropdown-toggle>
            {{ ticket.callBack.reasonToPromote1 || 'Reason to promote 1' }} <span class="caret"></span>
          </button>
          <ul class="uib-dropdown-menu pane-dropdown" role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <!-- Links need an href for Boostrap UI to work with keyboard navigation -->
            <li role="menuitem"><a href="" ng-click="ticket.callBack.reasonToPromote1 = undefind">None</a></li>
            <li class="divider"></li>
            <li role="menuitem" ng-repeat="reason in promoteReasons track by $index">
              <a href="" ng-click="setReasonToPromote(reason, 1)">{{ reason.reasonToPromoteName }}</a>
            </li>
          </ul>
        </span>
      </span>

    </div>

    <div class="pane-row">
      <label>Reason to promote 2</label>

      <span class="fill-by-label">

        <span uib-dropdown uib-keyboard-nav>
          <button id="simple-btn-keyboard-nav" type="button" class="pane-button" uib-dropdown-toggle>
            {{ ticket.callBack.reasonToPromote2 || 'Reason to promote 2' }} <span class="caret"></span>
          </button>
          <ul class="uib-dropdown-menu pane-dropdown" role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <!-- Links need an href for Boostrap UI to work with keyboard navigation -->
            <li role="menuitem"><a href="" ng-click="ticket.callBack.reasonToPromote2 = undefind">None</a></li>
            <li class="divider"></li>
            <li role="menuitem" ng-repeat="reason in promoteReasons track by $index">
              <a href="" ng-click="setReasonToPromote(reason, 2)">{{ reason.reasonToPromoteName }}</a>
            </li>
          </ul>
        </span>
      </span>
    </div>

    <div class="pane-row">
      <label>Reason to detract 1</label>

      <span class="fill-by-label">

        <span uib-dropdown uib-keyboard-nav>
          <button id="simple-btn-keyboard-nav" type="button" class="pane-button" uib-dropdown-toggle>
            {{ ticket.callBack.reasonToDetract1 || 'Reason to detract 1' }} <span class="caret"></span>
          </button>
          <ul class="uib-dropdown-menu pane-dropdown" role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <!-- Links need an href for Boostrap UI to work with keyboard navigation -->
            <li role="menuitem"><a href="" ng-click="ticket.callBack.reasonToDetract1 = undefind">None</a></li>
            <li class="divider"></li>
            <li role="menuitem" ng-repeat="reason in detractReasons track by $index">
              <a href="" ng-click="setReasonToDetract(reason, 1)">{{ reason.reasonToDetractName }}</a>
            </li>
          </ul>
        </span>
      </span>
    </div>

    <div class="pane-row">
      <label>Reason to detract 2</label>

      <span class="fill-by-label">

        <span uib-dropdown uib-keyboard-nav>
          <button id="simple-btn-keyboard-nav" type="button" class="pane-button" uib-dropdown-toggle>
            {{ ticket.callBack.reasonToDetract2 || 'Reason to detract 2' }} <span class="caret"></span>
          </button>
          <ul class="uib-dropdown-menu pane-dropdown" role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <!-- Links need an href for Boostrap UI to work with keyboard navigation -->
            <li role="menuitem"><a href="" ng-click="ticket.callBack.reasonToDetract2 = undefind">None</a></li>
            <li class="divider"></li>
            <li role="menuitem" ng-repeat="reason in detractReasons track by $index">
              <a href="" ng-click="setReasonToDetract(reason, 2)">{{ reason.reasonToDetractName }}</a>
            </li>
          </ul>
        </span>
      </span>
    </div>

    <div class="pane-row">
      <label class="text-top">Potential follow up action</label>

      <span class="fill-by-label">
        <textarea ng-model="ticket.callBack.callBackFollowUpAction" class="animated-textarea" msd-elastic="\n" cols="30" rows="3" placeholder="Potential follow up action."></textarea>
      </span>
    </div>

    <div class="pane-row">
      <label class="text-top">Short call back description</label>

      <span class="fill-by-label">
        <textarea ng-model="ticket.callBack.callBackComment" class="animated-textarea" msd-elastic="\n" cols="30" rows="3" placeholder="Potential follow up action."></textarea>
      </span>
    </div>

    <div class="pane-row">
      <label class="checkbox-label">
        <input type="checkbox" ng-model="ticket.callBack.isClosed" ng-click="manualClose = ticket.callBack.isClosed">
        <i class="offset-left" ></i> Call back is completed
      </label>
    </div>

  </form>

  <div class="float-container">

    <button ng-click="save()" class="pane-button green pull-right offset-right">Save</button>

    <button ng-click="cancel()" class="pane-button red pull-right offset-right">Cancel</button>

  </div>

</div>