<div class="pane">

  <h1>Agent settings</h1>

  <div class="font-size-ms" ng-hide="savedName">
    <p>Hi there, agent!</p>
    <p>As it's the first time logging in, we'd love to get to know you.</p>
    <p>What's your name, and what department do you belong to?</p>
    
    <br>
    
  </div>

  <form novalidate>

    <div class="pane-row">
      <label>Name</label>
      <input type="text" name="name" ng-model="user.name" placeholder="Name">
    </div>

    <div class="pane-row">
      <label>Email</label>
      <input type="email" name="email" ng-model="user.email" placeholder="Email">
    </div>

    <div class="pane-row">

      <label for="">Department</label>

      <span uib-dropdown uib-keyboard-nav>
        <button id="simple-btn-keyboard-nav" type="button" class="pane-button" uib-dropdown-toggle>
          {{ user.department.departmentName || 'Choose department' }} <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu pane-dropdown" role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <li role="menuitem"><a href="" ng-click="user.department = undefind">Choose department</a></li>
        <li class="divider"></li>
        <li role="menuitem" ng-repeat="department in departments">
          <a href="" ng-click="user.department = department">{{ department.departmentName }}</a>
        </li>
      </ul>
      </span>

    </div>

    <br>

    <div class="float-container">
      
      <button ng-click="ok()" ng-disabled="!canUpdateUser(user)" class="pane-button glyph-container green pull-right offset-right">
        Save
        <span ng-show="loadingUser" class="welcome-spinner"><i class="glyphicon glyphicon-refresh"></i></span>
      </button>
      
      <!--<button ng-click="cancel()" class="pane-button red pull-right offset-right">Cancel</button>-->

    </div>

  </form>
  
  <section ng-show="savedName">
      
    <hr>
    
    <h2>Change password</h2>
    
    <form novalidate>
      
      <div class="pane-row">
        <label>Current password</label>
        <input type="password" ng-model="password.current" placeholder="Current password">
      </div>
    
      <div class="pane-row">
        <label>New password</label>
        <input type="password" ng-model="password.new" placeholder="New password">
      </div>
      
      <div class="pane-row">
        <label>Repeat password</label>
        <input type="password" ng-model="password.repeat" placeholder="Repeat new password">
      </div>
    
      <div class="float-container">
        
        <button ng-click="updatePassword(password)" ng-disabled="!canUpdatePassword(password)" class="pane-button glyph-container green pull-right offset-right">
          Change password
          <span ng-show="loadingPassword" class="welcome-spinner"><i class="glyphicon glyphicon-refresh"></i></span>
        </button>
        
        <!--<button ng-click="cancel()" class="pane-button red pull-right offset-right">Cancel</button>-->
        
      </div>
      
    </form>
  
    <hr>
  
    <div class="float-container">
      
      <button ng-click="cancel()" class="pane-button red pull-right offset-right">Close</button>
      
    </div>
    
  </section>
  

</div>