<div class="pane-row">
  <!-- Customer -->

  <label class="" for="">Customer</label>

  <input type="text" ng-model="ticket.customer" placeholder="Search for customer" uib-typeahead="customer as matched(customer, 'customer') for customer in getCustomer($viewValue)"
  typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="pane-dropdown">
  <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
  <span ng-show="noResults && ticket.customer"><i class="glyphicon glyphicon-remove"></i> No Results Found</span>

</div>

<div class="pane-row">
  <!-- Contact person -->

  <label class="" for="">Contact person</label>

  <input type="text" ng-model="ticket.name" class="" placeholder="Name">

</div>

<div class="pane-row">
  <!-- Contact tel and altTel -->

  <label class="" for="">Phone number(s)</label>

  <input type="text" ng-model="ticket.tel" ng-intl-tel-input class="" placeholder="Phone number">
  
  <br>
  
  <input type="text" ng-model="ticket.altTel" ng-intl-tel-input class="" placeholder="Alt. phone number">


</div>

<br>

<div class="pane-row">
  <!-- Contact email -->

  <label class="" for="">Contact email</label>

  <input type="email" ng-model="ticket.email" class="" placeholder="Email address">

</div>

<br>

<div class="pane-row">
  <!-- Country -->

  <label class="">Country</label>

  <div class="">

    <input type="text" ng-model="ticket.country" uib-typeahead="country as matched(country, country) for country in countries | filter:$viewValue | limitTo:12"
    class="" placeholder="Type country name">

  </div>

</div>

<br>

<div class="pane-row">
  <!-- Categories -->

  <label for="" class="">Category</label>

  <div class="">
    <div class="btn-group" uib-dropdown uib-keyboard-nav>
      <button id="simple-btn-keyboard-nav" type="button" class="pane-button" uib-dropdown-toggle>
        {{ ticket.category.categoryName || 'Choose category' }} <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu pane-dropdown" role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <!-- Links need an href for Boostrap UI to work with keyboard navigation -->
        <li role="menuitem"><a href="" ng-click="ticket.category = undefind">Choose category</a></li>
        <li class="divider"></li>
        <li role="menuitem" ng-repeat="category in categories">
          <a href="" ng-click="ticket.category = category">{{ category.categoryName || 'value' }}</a>
        </li>
      </ul>
    </div>

    <div ng-hide="hideSubcategory(ticket)" class="btn-group" uib-dropdown uib-keyboard-nav>
      <button id="simple-btn-keyboard-nav" type="button" class="pane-button" uib-dropdown-toggle>
        {{ ticket.subcategory.subcategoryName || 'Choose subcategory' }} <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu pane-dropdown" role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <!-- Links need an href for Boostrap UI to work with keyboard navigation -->
        <li role="menuitem"><a href="" ng-click="ticket.subcategory = undefind">Choose subcategory</a></li>
        <li class="divider"></li>
        <li role="menuitem" ng-repeat="subcategory in subcategories[ticket.category.categoryId]">
          <a href="" ng-click="ticket.subcategory = subcategory">{{ subcategory.subcategoryName || 'value' }}</a>
        </li>
      </ul>
    </div>

    <div ng-hide="hideDescriptor(ticket)" class="btn-group" uib-dropdown uib-keyboard-nav>
      <button id="simple-btn-keyboard-nav" type="button" class="pane-button" uib-dropdown-toggle>
        {{ ticket.descriptor.descriptorName || 'Choose descriptor' }} <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu pane-dropdown" role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <!-- Links need an href for Boostrap UI to work with keyboard navigation -->
        <li role="menuitem"><a href="" ng-click="ticket.descriptor = undefind">Choose descriptor</a></li>
        <li class="divider"></li>
        <li role="menuitem" ng-repeat="descriptor in descriptors[ticket.subcategory.subcategoryId]">
          <a href="" ng-click="ticket.descriptor = descriptor">{{ descriptor.descriptorName || 'value' }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<br>

<div class="pane-row">
  <!-- Date -->

  <label class="" for="">Ticket date</label>

  <input type="text" ce-rome rome-model="ticket.ticketDate" placeholder="YYYY-MM-DD HH:mm">
  
</div>

<br>

<div class="pane-row">
  <!-- Summary -->

  <label class="">Ticket summary</label>

  <div class="">
    <textarea cols="30" rows="3" placeholder="Short description" class="" ng-model="ticket.summary"></textarea>
  </div>

</div>

<br>

<div class="pane-row">
  <!-- Status -->
  
  <label class="">Status</label>
  
  <ce-status-select status="ticket.status"></ce-status-select>
  
  <br>
  
  <label class="block">
    <input type="checkbox" ng-model="ticket.transferred">
    <i class="offset-left" ></i> Ticket was transferred
  </label>
  
  <div class="" uib-dropdown uib-keyboard-nav ng-show="ticket.transferred">
    <button id="simple-btn-keyboard-nav" type="button" class="pane-button" uib-dropdown-toggle>
      {{ ticket.department.departmentName || 'Choose department' }} <span class="caret"></span>
    </button>
    <ul class="uib-dropdown-menu pane-dropdown" role="menu" aria-labelledby="simple-btn-keyboard-nav">
      <!-- Links need an href for Boostrap UI to work with keyboard navigation -->
      <li role="menuitem" ng-repeat="department in departments">
        <a href="" ng-click="ticket.department = department">{{ department.departmentName }}</a>
      </li>
    </ul>
  </div>
  <label class="block">
    <input type="checkbox" ng-model="ticket.successful">
    <i class="offset-left" ></i> Ticket was successful
  </label>
  
  <br>
  
  <div class="row">
    <button ng-click="submit(ticket)" class="pane-button green pull-right">Submit ticket</button>
  </div>
  
</div>