<div class="pane-row">
  <!-- Date -->

  <label for="">Date</label>

  <input type="text" ce-rome rome-model="ticket.ticketDate" placeholder="YYYY-MM-DD HH:mm">
  
</div>


<div class="pane-row">
  <!-- Customer -->

  <label for="">Customer</label>

  <input type="text" ng-model="ticket.customer" placeholder="Search for customer" uib-typeahead="customer as matched(customer, 'customer') for customer in getCustomer($viewValue)"
  typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="pane-dropdown">
  <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
  <span ng-show="noResults && ticket.customer"><i class="glyphicon glyphicon-remove"></i> No Results Found</span>

</div>

<div class="pane-row">
  <!-- Contact person -->

  <label for="">Contact</label>

  <input type="text" ng-model="ticket.name" placeholder="Name">

</div>

<div class="pane-row">
  <!-- Contact tel and altTel -->

  <label for="">Phone</label>

  <span class="fill-by-label">
    <input class="block" type="text" ng-model="ticket.tel" ng-intl-tel-input placeholder="Phone number">
  </span>

  <label for="">&nbsp;</label>
  
  <span class="fill-by-label">
    <input class="block" type="text" ng-model="ticket.altTel" ng-intl-tel-input placeholder="Alt. phone number">
  </span>
</div>

<div class="pane-row">
  <!-- Contact email -->

  <label for="">Email</label>

  <input type="email" ng-model="ticket.email" placeholder="Email address">

</div>

<div class="pane-row">
  <!-- Reseller -->

  <span class="fill-label"></span>

  <span>
    <label class="checkbox-label">
      <input type="checkbox" ng-model="ticket.isReseller">
      <i class="offset-left" ></i> Contact is reseller
    </label>
  </span>

</div>

<div class="pane-row">
  <!-- Country -->

  <label>Country</label>
  
  <input type="text" ng-model="ticket.country" uib-typeahead="country as matched(country, country) for country in countries | filter:$viewValue | limitTo:12"
  placeholder="Type country name">

  <div>


  </div>

</div>


<div class="pane-row">
  <!-- Categories -->

  <label for="">Category</label>
  
  <span class="fill-by-label">
    <span uib-dropdown uib-keyboard-nav>
      <button id="simple-btn-keyboard-nav" type="button" class="pane-button" uib-dropdown-toggle>
        {{ ticket.category.categoryName || 'Choose category' }} <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu pane-dropdown" role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <!-- Links need an href for Boostrap UI to work with keyboard navigation -->
        <li role="menuitem"><a href="" ng-click="ticket.category = undefind">Choose category</a></li>
        <li class="divider"></li>
        <li role="menuitem" ng-repeat="category in categories">
          <a href="" ng-click="ticket.category = category">{{ category.categoryName || 'value' }}</a>
        </li>
      </ul>
    </span>
    
    <span ng-hide="hideSubcategory(ticket)" uib-dropdown uib-keyboard-nav>
      <button id="simple-btn-keyboard-nav" type="button" class="pane-button" uib-dropdown-toggle>
        {{ ticket.subcategory.subcategoryName || 'Choose subcategory' }} <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu pane-dropdown" role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <!-- Links need an href for Boostrap UI to work with keyboard navigation -->
        <li role="menuitem"><a href="" ng-click="ticket.subcategory = undefind">Choose subcategory</a></li>
        <li class="divider"></li>
        <li role="menuitem" ng-repeat="subcategory in subcategories[ticket.category.categoryId]">
          <a href="" ng-click="ticket.subcategory = subcategory">{{ subcategory.subcategoryName || 'value' }}</a>
        </li>
      </ul>
    </span>

    <span ng-hide="hideDescriptor(ticket)" uib-dropdown uib-keyboard-nav>
      <button id="simple-btn-keyboard-nav" type="button" class="pane-button" uib-dropdown-toggle>
        {{ ticket.descriptor.descriptorName || 'Choose descriptor' }} <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu pane-dropdown" role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <!-- Links need an href for Boostrap UI to work with keyboard navigation -->
        <li role="menuitem"><a href="" ng-click="ticket.descriptor = undefind">Choose descriptor</a></li>
        <li class="divider"></li>
        <li role="menuitem" ng-repeat="descriptor in descriptors[ticket.subcategory.subcategoryId]">
          <a href="" ng-click="ticket.descriptor = descriptor">{{ descriptor.descriptorName || 'value' }}</a>
        </li>
      </ul>
    </span>
  </span>

</div>

<div class="pane-row">
  <!-- Summary -->

  <label>Summary</label>
  
  <textarea cols="30" rows="3" placeholder="Short description" ng-model="ticket.summary"></textarea>

</div>


<div class="pane-row">
  <!-- Status -->
  
  <label>Status</label>
  
  <span>
    <ce-status-select class="offset-top" status="ticket.status"></ce-status-select>
  </span>
  
</div>

<div class="pane-row" ng-show="ticket.ticketId">
  
  <!--<span class="fill-label"></span>-->
  
  <label>Ticket</label>
  
  <label class="left">{{ ticket.ticketId }}</label>
  
</div>

<div class="pane-row">
  <!-- Transferred -->
  
  <span class="fill-label"></span>
  
  <span>
    <label class="checkbox-label">
      <input type="checkbox" ng-model="ticket.transferred">
      <i class="offset-left" ></i> Ticket was transferred
    </label>
    
    <div uib-dropdown uib-keyboard-nav ng-show="ticket.transferred">
      <button id="simple-btn-keyboard-nav" type="button" class="pane-button" uib-dropdown-toggle>
        {{ ticket.department.departmentName || 'Choose department' }} <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu pane-dropdown" role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <li role="menuitem" ng-repeat="department in departments">
          <a href="" ng-click="ticket.department = department">{{ department.departmentName }}</a>
        </li>
      </ul>
    </div>
    
  </span>

</div>

<br>

<div class="float-container">
  <button ng-click="submit(ticket)" class="pane-button green pull-right offset-right">Submit ticket</button>
  <button ng-click="discard(ticket)" class="pane-button red pull-right offset-right">Delete ticket</button>
  <button ng-click="goBack(ticket)" class="pane-button purple pull-right offset-right">Back to dashboard</button>
</div>