<section class="grid">
  
  <a href="" ui-sref="main.dashboard">
    <img src="assets/img/logo.png" class="logo" alt="Bambora logo">
    <!-- Add back button here!! -->
    <span class="go-back">
      <i class="glyphicon glyphicon-arrow-left"></i> Go back
    </span>
  </a>
 
  <aside class="pane vertical-fill fixed-left create">
    
    <h1>Manage customers</h1>
    
    <section class="pane-section">
      
      <button class="pane-button-medium fill" ng-click="newCustomer()">Create new customer</button>
      
    </section>
    
    <form novalidate>

    <div class="pane-row">
      
      <label class="font-size-ms">Org. number</label>
      
      <span class="fill-by-label">
        <input type="text" ng-class="{'padded-right': orgNrLoadingLocations}" ng-model="currentCustomer.orgNr" placeholder="Org. number" uib-typeahead="cust as cust.orgNr for cust in getFuzzy($viewValue, 'orgNr')"
          typeahead-loading="orgNrLoadingLocations" typeahead-on-select="onSelected($item, $model, $label)" class="pane-dropdown">
        <i ng-show="orgNrLoadingLocations" class="glyphicon glyphicon-refresh" title="Looking for customers matching the org. number"></i>
      </span>

    </div>

    <div class="pane-row">
      
      <label class="font-size-ms">Customer number</label>
      
      <span class="fill-by-label">
        <input type="text" ng-class="{'padded-right': customerNumberLoadingLocations}" ng-model="currentCustomer.customerNumber" placeholder="Customer number" uib-typeahead="cust as cust.customerNumber for cust in getFuzzy($viewValue, 'customerNumber')"
          typeahead-loading="customerNumberLoadingLocations" typeahead-on-select="onSelected($item, $model, $label)" class="pane-dropdown">
        <i ng-show="customerNumberLoadingLocations" class="glyphicon glyphicon-refresh" title="Looking for customers matching the customer number"></i>
      </span>

    </div>
    
    <div class="pane-row">
      <label class="font-size-ms">Customer name</label>
        
      <span class="fill-by-label">
        <input type="text" ng-class="{'padded-right': orgNameLoadingLocations}" ng-model="currentCustomer.orgName" placeholder="Customer name" uib-typeahead="cust as cust.orgName for cust in getFuzzy($viewValue, 'orgName')"
          typeahead-loading="orgNameLoadingLocations" typeahead-on-select="onSelected($item, $model, $label)" class="pane-dropdown">
        <i ng-show="orgNameLoadingLocations" class="glyphicon glyphicon-refresh" title="Looking for customers matching the customer name"></i>
      </span>

    </div>
    
    <br>

    <div ng-show="isNew(customer)">
      
      <i class="glyphicon glyphicon-exclamation-sign"></i> A new customer tagged as created in Tickety will be added to the customer database.
      
    </div>

    <div class="float-container">

      <button ng-click="ok()" ng-disabled="!allowSubmit(customer)" class="pane-button green pull-right offset-right">{{ isNew(customer) ? 'Create' : 'Select' }}</button>

      <button ng-click="cancel()" class="pane-button red pull-right offset-right">Cancel</button>

    </div>

  </form>
    
  </aside>
  
  <ce-card-area child-class="vertical-fill fixed-right create">
    
    <ce-card-area-header title="Related customers" tickets="filteredCustomers"></ce-card-area-header>
    
    <ce-customer-card class="col-card" customer="customer" ng-repeat="customer in filteredCustomers | alphaSort:['orgName', 'orgNr', 'customerNumber']:true"></ce-customer-card>
    
  </ce-card-area>
  
</section>
