<div class="pane">

  <h1>{{ isNew(person) ? 'Create' : 'Select' }} Contact</h1>

  <form action="">

    <div class="pane-row">
      <!-- Contact person -->
    
      <label for="">Name</label>
    
      <!--<input type="text" ng-model="person.name" placeholder="Name">-->
        
      <span class="fill-by-label">
        <input type="text" ng-class="{'padded-right': personNameLoading}" ng-model="person.name" placeholder="Name" uib-typeahead="person as person.name for person in getContacts(ticket.customer.customerId, $viewValue, 'name')"
          typeahead-loading="personNameLoading" typeahead-no-results="noNameResults" typeahead-on-select="person = $item" class="pane-dropdown">
        <i ng-show="personNameLoading" class="glyphicon glyphicon-refresh" title="Looking for people matching the phone number"></i>
        <i ng-show="noNameResults && person.name" class="glyphicon glyphicon-exclamation-sign" title="No results found"></i>
      </span>
    
    </div>
    
    <div class="pane-row">
      <!-- Contact tel and altTel -->
    
      <label for="">Phone</label>
    
      <span class="fill-by-label">
        <!--<input class="block" type="text" ng-model="person.tel" ng-intl-tel-input placeholder="Phone number">-->
        
        <input type="text" ng-class="{'padded-right': personTelLoading}" ng-intl-tel-input ng-model="person.tel" placeholder="Phone number" uib-typeahead="person as person.tel for person in getContacts(ticket.customer.customerId, $viewValue, 'tel')"
          typeahead-loading="personTelLoading" typeahead-no-results="noTelResults" typeahead-on-select="person = $item" class="pane-dropdown block">
        <i ng-show="personTelLoading" class="glyphicon glyphicon-refresh" title="Looking for people matching the phone number"></i>
        <i ng-show="noTelResults && person.tel" class="glyphicon glyphicon-exclamation-sign" title="No results found"></i>
      </span>
    
      <label for="">Alt. phone;</label>
      
      <span class="fill-by-label">
        <!--<input class="block" type="text" ng-model="person.altTel" ng-intl-tel-input placeholder="Alt. phone number">-->
      
        <input type="text" ng-class="{'padded-right': personAltTelLoading}" ng-intl-tel-input ng-model="person.altTel" placeholder="Alt. phone number" uib-typeahead="person as person.altTel for person in getContacts(ticket.customer.customerId, $viewValue, 'altTel')"
          typeahead-loading="personAltTelLoading" typeahead-no-results="noAltTelResults" typeahead-on-select="person = $item" class="pane-dropdown block">
        <i ng-show="personAltTelLoading" class="glyphicon glyphicon-refresh" title="Looking for people matching the alt. phone  number"></i>
        <i ng-show="noAltTelResults && person.altTel" class="glyphicon glyphicon-exclamation-sign" title="No results found"></i>
      
      </span>
    </div>
    
    <div class="pane-row">
      <!-- Contact email -->
    
      <label for="">Email</label>
    
      <!--<input type="email" ng-model="person.email" placeholder="Email address">-->
        
      <span class="fill-by-label">
        <input type="text" ng-class="{'padded-right': personEmailLoading}" ng-model="person.email" placeholder="Email address" uib-typeahead="person as person.email for person in getContacts(ticket.customer.customerId, $viewValue, 'email')"
          typeahead-loading="personEmailLoading" typeahead-no-results="noEmailResults" typeahead-on-select="person = $item" class="pane-dropdown">
        <i ng-show="personEmailLoading" class="glyphicon glyphicon-refresh" title="Looking for people matching the phone number"></i>
        <i ng-show="noEmailResults && person.email" class="glyphicon glyphicon-exclamation-sign" title="No results found"></i>
      </span>
    
    </div>

    <div class="float-container">

      <button ng-click="ok()" ng-disabled="!allowSubmit(person)" class="pane-button green pull-right offset-right">{{ isNew(person) ? 'Create' : 'Select' }}</button>

      <button ng-click="cancel()" class="pane-button red pull-right offset-right">Cancel</button>

    </div>

  </form>


</div>